services:
  video2rtsp:
    build:
      dockerfile: video2rtsp/Dockerfile
    container_name: video-with-audio-streamer
    privileged: true
    devices:
      - /dev/vchiq:/dev/vchiq
    environment:
      - VIDEO_DEVICE=/dev/video0
      - AUDIO_DEVICE=plughw:2,0
    ports:
      - "8554:8554"
    restart: unless-stopped
  streamer:
    build:
      dockerfile: streamer/Dockerfile
    container_name: streamer
    environment:
    - TZ=Asia/Tokyo
    - BASIC_AUTH_USER=admin
    - BASIC_AUTH_PASS=password
    ports:
      - "8080:8000"
    restart: unless-stopped

